*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Poppins';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(2, 78, 2),rgb(37, 80, 1),rgb(111, 233, 12));
    padding: 10px;

}
.todo-app{
    width: 100%;
    max-width:600px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #115e06;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 40px;
    margin-left: 5px;
}
.todo-app h2 em{
    color: rgb(72, 255, 0);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 30px;
    border-radius: 40px;
    background: #3b9209;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/2/img/egg1.jpg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #5d5c5c;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/2/img/chick1.jpeg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 20%;
}
ul li span:hover{
    background: #ff9191;
}
.welcome {
    margin-bottom: 40px;
    color: #c5f5be;;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card h3{
    color:#0c4904;
}
.card p{
    color:#0c4904;
}
.card p a{
    color:#44793d;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    background: #e1f7a6;
    width: 500px;
}

.card .number {
    color: rgb(36, 49, 28);
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0;
}

.tasks {
    margin-top: 40px;
}

.tasks h2 a{
    color: #c5f5be;
}
#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 15px;
    margin: 10px 0;
    background: #f3f3f3;
    border-radius: 10px;
}

#taskList li.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
